<html>
<head>
    <title>Home Page</title>
</head>
<body>
Hello {{name}}!
<form method="post" action="viewBlockChain">
    <label>Enter BlockChain Unique Key</label>
    <input type="text" name="uniqueKey">
    <button type="submit">Submit</button>
</form>

<form method="post" action="viewBlock">
    <label>Enter BlockChain Unique Key</label>
    <input type="text" name="uniqueKey">
    <input type="text" name="index">
    <button type="submit">Submit</button>
</form>

<form method="post" action="viewLastBlock">
    <label>Enter BlockChain Unique Key</label>
    <input type="text" name="uniqueKey">
    <button type="submit">Submit</button>
</form>

</body>
</html>